<h1>cree o elimine su producto</h1>

<form action="http://localhost:8080/api/products" method="post">
 <input type="text" name="title" placeholder="titulo del producto"><br/>
 <input type="text" name="description" placeholder="descripcion del producto"><br/>
 <input type="text" name="code" placeholder="codigo del producto"><br/>
 <input type="number" name="price" placeholder="precio"><br/>
 <input type="text" name="status" placeholder="estado"><br/>
 <input type="number" name="stock" placeholder="stock"><br/>
 <input type="text" name="category" placeholder="categoria"><br/>
 <button type="submit">enviar</button>
</form>