<h1>Perfil de usuario</h1>

<h2>Usuario: {adminCoder@coder.com}</h2>
<h3>Admin: {{adminCod3r123}}</h3>

<form action="/api/sessions/logout" method="get">
    <button type="submit" class="btn btn-success">Salir</button>
</form>

 <div style="margin-bottom: 32px;">
            <a href="/api/sessions/github">Ingresar con Github</a>
        </div>